@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    background-color: rgb(193, 255, 255);
    width: 100;
    
}
.nav-btn{
    display: none;
}

.nav-links{
    display: inline;
    float: right;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    text-decoration: none;

}
.nav-links >a{
    display: inline-block;
    color: black;
    transition:0.3s;
    font-size: 25px;

}
.nav-links> a:hover {
    transition: 00.3s;
    color: red;
}
.nav #nav-check{
    display: none;
}
.banner-container{
    position: relative;
    top: 4rem;
}
.banner-botones>h2{
    font-size: 18px;
    color: black;
    display: inline-block;
}