@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    height: 90%;
}
/* toda la caja del nav */
.container-fluid{
    background-color: rgb(184, 253, 253);
}
/* los botones del nav */
.navbar-nav{
    margin-top: 2rem;
    margin-left: auto;
    font-family: 'Karla', sans-serif; color: black;
    font-size: 20px;
    font-weight: bold;
    
}
/* iniciar sesion y carrito */
/* medio de pago completo */


.cajapago{
    border-bottom: 2px solid #00f;
margin-bottom: 3rem;
}
.medioPago{
    display: flex;
    width: 80px;
    height: 80px;
 margin-bottom: 3rem;
 margin-top: 2rem;
}
/* el fondo */
.elFondo{
    background-image: url(./img/burbujas\ backgrpun.webp);
}
.tituloPeluqueria{
    font-family: 'Sora', sans-serif;
    display: flex;
    background-color:rgb(184, 253, 253);
}
.tituloPeluqueria>a{
   font-size: 30px;
   margin-left: 3rem;
}
.tituloPeluqueria>h1{
    margin-left: 18rem;
}

/* peluqueria imagenes */
.peluqueriaPrincipal{
    margin-left: 18%;    
}
.peluqueriaPrincipal>img{
object-fit: cover;
}

.peluqueriaPrincipal img{
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    margin: 4px 4px 4px 4px;
    }
.peluqueriaPrincipal img:hover{
    transition: scale (1.5);
}








carousel */
